.DS_Store
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ilk
*.pdb
programming/src/lab1-1/sample1
programming/src/lab1-1/sample2
programming/src/lab1-1/sample3
programming/src/lab1-1/sample4
programming/src/lab1-1/sample5
programming/src/lab1-2/sample6


# Python Sphinx
**/_build/*
**/_static/*
!**/_build/latex/*.pdf
topics/*.pdf

# Python simple
.idea/*
programming/lab4-1/src/*
venv/*

# LaTeX files
*.aux
*.log
assignments/summary-assignments-all/*
source-material/*
sagatavosanas2018/*
kalvis-LU-DatZ3168/worksheets-single
